{% extends 'base.html' %}
{% load static i18n mathfilters %}

{% block header %}
	{% include 'include/home_header.html ' %}
{% endblock header %}


{% block content %}

	<!-- 1 Block -->
	<section class="introBlock position-relative">
		<div class="slick-fade">
			<div>
				<div class="align w-100 d-flex align-items-center bgCover" style="background-image: url({% static 'images/b-bg.jpg' %});">
					<!-- holder -->
					<div class="container position-relative holder pt-xl-10 pt-0">
						<!-- py-12 pt-lg-30 pb-lg-25 -->
						<div class="row">
							<div class="col-12 col-xl-7">
								<div class="txtwrap pr-lg-10">
									<h1 class="fwEbold position-relative pb-lg-8 pb-4 mb-xl-7 mb-lg-6">{% trans 'Houseplant' %} <span class="text-break d-block">{% trans 'The Perfect Choice' %}.</span></h1>
									<p class="mb-xl-15 mb-lg-10">{% trans 'Lorem ipsum is simply dummy text of the printing and typesetting industry' %} <br>{% trans "has been the industry's standard" %}.</p>
									<a href="shop.html" class="btn btnTheme btnShop fwEbold text-white md-round py-md-3 px-md-4 py-2 px-3">{% trans 'Shop Now' %} <i class="fas fa-arrow-right ml-2"></i></a>
								</div>
							</div>
							<div class="imgHolder">
								<img src="{% static 'images/img79.png' %}" alt="image description" class="img-fluid w-100">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- 2 Block -->
	<section class="chooseUs-sec container pt-xl-22 pt-lg-20 pt-md-16 pt-10 pb-xl-12 pb-md-7 pb-2">
		<div class="row">
			<div class="col-12 col-lg-6 mb-lg-0 mb-4">
				<img src="{% static 'images/img01.jpg' %}" alt="image description" class="img-fluid">
			</div>
			<div class="col-12 col-lg-6 pr-4">
				<h2 class="headingII fwEbold playfair position-relative mb-6 pb-5">{% trans 'Why choose us' %} ?</h2>
				<p class="mb-xl-14 mb-lg-10">{% trans "Lorem ipsum is simply dummy text of the printing and typesetting industry, lorem ipsum has been the industry's standard dummy text ever since the 1500s  when an unknown printer took a galley" %} ... <a href="javascript:void(0);" class="btnMore"><i>{% trans 'Learn More' %}</i></a></p>
				<!-- chooseList -->
				<ul class="list-unstyled chooseList">
					<li class="d-flex justify-content-start mb-xl-7 mb-lg-5 mb-3">
						<span class="icon icon-plant"></span>
						<div class="alignLeft d-flex justify-content-start flex-wrap">
							<h3 class="headingIII fwEbold mb-2">{% trans 'Hand Planted' %}</h3>
							<p>{% trans 'There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form' %}.</p>
						</div>
					</li>
					<li class="d-flex justify-content-start mb-xl-6 mb-lg-5 mb-4">
						<span class="icon icon-ic-plant"></span>
						<div class="alignLeft d-flex justify-content-start flex-wrap">
							<h3 class="headingIII fwEbold mb-2">{% trans 'Natural Sunlight' %}</h3>
							<p>{% trans 'It is a long established fact that a reader will be distracted by the reable content of a page' %}.</p>
						</div>
					</li>
					<li class="d-flex justify-content-start">
						<span class="icon icon-desert"></span>
						<div class="alignLeft d-flex justify-content-start flex-wrap">
							<h3 class="headingIII fwEbold mb-2">{% trans 'Clean Air' %}</h3>
							<p>{% trans 'There are many variations of passages of lorem ipsum available, but the majority have suffered' %}.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<!-- 3 Block Select product-->
	<section class="featureSec container-fluid overflow-hidden pt-xl-12 pt-lg-10 pt-md-80 pt-5 pb-xl-10 pb-lg-4 pb-md-2 px-xl-14 px-lg-7">
		<!-- mainHeader -->
		<header class="col-12 mainHeader mb-7 text-center">
			<h1 class="headingIV playfair fwEblod mb-4">{% trans 'Featured Product' %}</h1>
			<span class="headerBorder d-block mb-md-5 mb-3"><img src="{% static 'images/hbdr.png' %}" alt="Header Border" class="img-fluid img-bdr"></span>
			<p>{% trans 'Lorem ipsum is simply dummy text of the printing and typesetting industry' %}.</p>
		</header>
		<div class="col-12 p-0 overflow-hidden d-flex flex-wrap">

			{% for product in products %}
				<!-- featureCol -->
				<div class="featureCol position-relative px-3 mb-6">
					<div class="border">
						<div class="imgHolder position-relative w-100 overflow-hidden">
							{% for image in product.image_set.all %}
								{% if image.root == True %}
									<img src="{{ image.name.url }}" alt="image description" class="img-fluid w-100">
								{% endif %}
							{% endfor %}
							<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
								<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
								<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>
								<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
								<li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
							</ul>
						</div>
						<div class="text-center py-xl-5 py-sm-4 py-2 px-xl-2 px-1">
							<span class="title d-block mb-2"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></span>

							{% for productaction in product.productaction_set.all %}
								{% if productaction.product.id == product.id %}
									<span class="hotOffer fwEbold text-uppercase text-white position-absolute d-block ml-{% widthratio forloop.counter0 1 8 %}"
										  style="background-color: {{ productaction.action.color }};">{{ productaction.action.name }}</span>
								{% endif %}
							{% endfor %}
							{% if product.get_price_discount == product.price %}
								<span class="price d-block fwEbold">{{ product.price|floatformat:2 }} $</span>
							{% else %}
								<span class="price d-block fwEbold"><del>{{ product.price|floatformat:2 }} $</del>{{ product.get_price_discount|floatformat:2 }} $</span>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</section>

	<!-- 4 Block -->
	<div class="contactListBlock container overflow-hidden pt-xl-8 pt-lg-10 pt-md-8 pt-4 pb-xl-12 pb-lg-10 pb-md-4 pb-1">
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
				<!-- contactListColumn -->
				<div class="contactListColumn border overflow-hidden py-xl-5 py-md-3 py-2 px-xl-6 px-md-3 px-3 d-flex">
					<span class="icon icon-van"></span>
					<div class="alignLeft pl-2">
						<strong class="headingV fwEbold d-block mb-1">{% trans 'Free shipping order' %}</strong>
						<p class="m-0">{% trans 'On orders over' %}  $100</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
				<!-- contactListColumn -->
				<div class="contactListColumn border overflow-hidden py-xl-5 py-md-3 py-2 px-xl-6 px-md-3 px-3 d-flex">
					<span class="icon icon-gift"></span>
					<div class="alignLeft pl-2">
						<strong class="headingV fwEbold d-block mb-1">{% trans 'Special gift card' %}</strong>
						<p class="m-0">{% trans 'The perfect gift idea' %}</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
				<!-- contactListColumn -->
				<div class="contactListColumn border overflow-hidden py-xl-5 py-md-3 py-2 px-xl-4 px-md-2 px-3 d-flex">
					<span class="icon icon-recycle"></span>
					<div class="alignLeft pl-2">
						<strong class="headingV fwEbold d-block mb-1">{% trans 'Return &amp; exchange' %}</strong>
						<p class="m-0">{% trans 'Free return within 3 days' %}</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
				<!-- contactListColumn -->
				<div class="contactListColumn border overflow-hidden py-xl-5 py-md-3 py-2 px-xl-6 px-md-3 px-3 d-flex">
					<span class="icon icon-call"></span>
					<div class="alignLeft pl-2">
						<strong class="headingV fwEbold d-block mb-1">{% trans 'Support' %} 24 / 7</strong>
						<p class="m-0">{% trans 'Customer support' %}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 5 Block Select product in slider -->
	<section class="dealSecHolder container-fluid overflow-hidden py-xl-12 py-lg-10 py-md-8 py-5">
		<!-- mainHeader -->
		<header class="col-12 mainHeader mb-7 text-center">
			<h1 class="headingIV playfair fwEblod mb-5">{% trans 'Daily Deal' %}</h1>
			<span class="headerBorder d-block mb-md-5 mb-3"><img src="{% static 'images/hbdr.png' %}" alt="Header Border" class="img-fluid img-bdr"></span>
			<p class="mb-6">{% trans 'There are many variations of passages of lorem ipsum available' %}.</p>
			<div id="defaultCountdown" class="comming-timer"></div>
		</header>
		<!-- dealSlider -->
		<div class="dealSlider w-100 px-lg-10 px-md-5">

			{% for product in products %}
				<div>
					<!-- featureCol -->
					<div class="featureCol position-relative w-100 px-3 mb-sm-8 mb-6">
						<div class="border">
							<div class="imgHolder position-relative w-100 overflow-hidden">
								{% for image in product.image_set.all %}
									{% if image.root == True %}
										<img src="{{ image.name.url }}" alt="image description" class="img-fluid w-100">
									{% endif %}
								{% endfor %}
								<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>
									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
									<li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
								</ul>
							</div>
							<div class="text-center py-5 px-2">
								<span class="title d-block mb-2"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></span>
								{% for productaction in product.productaction_set.all %}
									{% if productaction.product.id == product.id %}
										<span class="hotOffer fwEbold text-uppercase text-white position-absolute d-block ml-{% widthratio forloop.counter0 1 8 %}"
											  style="background-color: {{ productaction.action.color }};">{{ productaction.action.name }}</span>
									{% endif %}
								{% endfor %}
								{% if product.get_price_discount == product.price %}
									<span class="price d-block fwEbold">{{ product.price|floatformat:2 }} $</span>
								{% else %}
									<span class="price d-block fwEbold"><del>{{ product.price|floatformat:2 }} $</del>{{ product.get_price_discount|floatformat:2 }} $</span>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}


			<div>
				<!-- featureCol -->
				<div class="featureCol position-relative w-100 px-3 mb-sm-8 mb-6">
					<div class="border">
						<div class="imgHolder position-relative w-100 overflow-hidden">
							<img src="http://placehold.it/320x355" alt="image description" class="img-fluid w-100">
							<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
								<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
								<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>
								<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
								<li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
							</ul>
						</div>
						<div class="text-center py-5 px-2">
							<span class="title d-block mb-2"><a href="shop-detail.html">Neque Porro Quisquam</a></span>
							<span class="price d-block fwEbold"><del>60.00 $</del>48.00 $</span>
							<span class="hotOffer green fwEbold text-uppercase text-white position-absolute d-block">Sale</span>
						</div>
					</div>
				</div>
			</div>
			<div>
				<!-- featureCol -->
				<div class="featureCol px-3 w-100 mb-sm-8 mb-6">
					<div class="border">
						<div class="imgHolder position-relative w-100 overflow-hidden">
							<img src="http://placehold.it/320x355" alt="image description" class="img-fluid w-100">
							<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
								<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
								<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>
								<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
								<li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
							</ul>
						</div>
						<div class="text-center py-5 px-2">
							<span class="title d-block mb-2"><a href="shop-detail.html">Sit voluptatem</a></span>
							<span class="price d-block fwEbold">65.00 $</span>
						</div>
					</div>
				</div>
			</div>
			<div>
				<!-- featureCol -->
				<div class="featureCol position-relative w-100 px-3 mb-sm-8 mb-6">
					<div class="border">
						<div class="imgHolder position-relative w-100 overflow-hidden">
							<img src="http://placehold.it/320x355" alt="image description" class="img-fluid w-100">
							<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
								<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
								<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>
								<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
								<li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
							</ul>
						</div>
						<div class="text-center py-5 px-2">
							<span class="title d-block mb-2"><a href="shop-detail.html">Aliquam Quaerat Voluptatem</a></span>
							<span class="price d-block fwEbold">80.00 $</span>
							<span class="hotOffer fwEbold text-uppercase text-white position-absolute d-block">HOT</span>
						</div>
					</div>
				</div>
			</div>
			<div>
				<!-- featureCol -->
				<div class="featureCol px-3 w-100 mb-sm-8 mb-6">
					<div class="border">
						<div class="imgHolder position-relative w-100 overflow-hidden">
							<img src="http://placehold.it/320x355" alt="image description" class="img-fluid w-100">
							<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
								<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
								<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>
								<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
								<li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
							</ul>
						</div>
						<div class="text-center py-5 px-2">
							<span class="title d-block mb-2"><a href="shop-detail.html">Sit voluptatem</a></span>
							<span class="price d-block fwEbold">65.00 $</span>
						</div>
					</div>
				</div>
			</div>
			<div>
				<!-- featureCol -->
				<div class="featureCol w-100 px-3 mb-sm-8 mb-6">
					<div class="border">
						<div class="imgHolder position-relative w-100 overflow-hidden">
							<img src="http://placehold.it/320x355" alt="image description" class="img-fluid w-100">
							<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
								<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
								<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>
								<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
								<li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
							</ul>
						</div>
						<div class="text-center py-5 px-2">
							<span class="title d-block mb-2"><a href="shop-detail.html">Sit voluptatem</a></span>
							<span class="price d-block fwEbold">65.00 $</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock content %}
